body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.consent-info {
    font-size: 0.85em; /* Smaller font size */
    max-width: 800px;
    margin: auto;
    text-align: justify;
}

h2 {
    font-size: 1.2em;
    text-align: center;
}
